{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "Models": "./src/models",
          "Utilities": "./src/utilities"
        }
      }
    ]
  ]
}
